button {
  padding: 1em;
  margin: 0.2em;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.5em;
  border: none;
}

button:hover {
  background-color: cornflowerblue;
  transition: 2s;
  color: ghostwhite;
}
